body {
    background-color: beige;
    font-family: 'Philosopher', sans-serif;
    color:#0096c7;
    line-height: normal;
}

h1 {
    color: #023e8a;
    font-weight: 600;
}

.btn-pink {
    display:inline-block;
    padding: 5px 10px;
    background-color: pink;
    border: 1px solid navy;
    border-radius: 10px;
}
.btn-pink:hover{
    background-color: palevioletred;
}

.profile-oval {
    height:200px;
    border-radius: 50%;
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.card-blue {
    background-color:#caf0f8;
    border: 10px solid beige;
}

.list-inline {
    list-style:none;
    padding-left: 0px;
}

.list-inline > li {
    display: inline-block;
    padding: 0px 20px;
}

.icon-small {
    width:30px;
    height:30px;
}

@media (max-width:960px){
    .container {
        width: 700px;
    }
}

@media (max-width:720px){
    .container {
        width:500px;
    }
}

@media (max-width: 540px) {
    .container {
        width:300px;
    }
}